﻿@model ToDoApp.Models.CreateTask
@{
}

<h1>Create Task</h1>
Task Name<br />
<input type="text" class="form-control" asp-for="Name"><br />
Task Description<br />
<input type="text" class="form-control" asp-for="Description"><br />
Deadline<br />
<input type="date" class="form-control" asp-for="deadline"><br />
Priority<br />
<input type="text" class="form-control" asp-for="priority"><br />
Status<br />
<input type="text" class="form-control" asp-for="status"><br />
<input type="submit" class="btn btn-primary" asp-action="Submit"/>