﻿@model List<ToDoApp.Data.Task>
@{
}

<h1>List Task</h1>
<table class="table">
    <a class="nav-link text-dark" asp-area="" asp-controller="Create" asp-action="Index">Create new task</a> 
    <thead>
        <tr>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Deadline</th>
            <th>Priority</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Name</td>
                <td>@task.Description</td>
                <td>@task.deadline</td>
                <td>@task.priority</td>
                <td>@task.status</td>
            </tr>
        }
    </tbody>
</table>
